<template>
  <div class="question">
    <Header :title="'Question: ' + currentQuestions + '/' + TotalQuestions" />
    <AnswerContainer
      :question="question"
      :questionId="question"
      :answerSuggestions="answerSuggestions"
    />
    <Button title="Next" @click="nextQuestion" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Header from "@/components/Header.vue";
import AnswerContainer from "@/components/AnswerContainer.vue";
import Button from "@/components/Button.vue";
import router from "@/router";
import { mapActions, mapGetters, mapState } from "vuex";

export default defineComponent({
  name: "Home",
  components: {
    Header,
    AnswerContainer,
    Button,
  },
  created() {
    if (this.questions.length === 0) {
      this.onNewGameHandler();
      router.push({ name: "Home" });
    }
  },
  methods: {
    ...mapActions(["nextQuestion", "onNewGameHandler"]),
  },
  computed: {
    ...mapGetters([
      "question",
      "answerSuggestions",
      "currentQuestions",
      "TotalQuestions",
    ]),
    ...mapState(["questions"]),
  },
});
</script>
