<template>
  <div v-if="isLoading">
    <h1>loading...</h1>
  </div>
  <div v-else class="Result">
    <div id="score-buttons">
      <Button title="Try Again" :onClickHandler="onTryAgainHandler" />
      <div id="score-header">
        <Header
          :title="'Score: ' + userScore"
          :subtitle="'Highscore: ' + highscore"
        />
      </div>
      <Button title="New Game" :onClickHandler="onNewGameHandler" />
    </div>
    <AnswerContainer
      v-for="(question, index) in questions"
      :key="index"
      :question="question.question"
      :questionId="index"
      :answerSuggestions="question.answerSuggestions"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Header from "@/components/Header.vue";
import AnswerContainer from "@/components/AnswerContainer.vue";
import Button from "@/components/Button.vue";
import router from "@/router";
import { mapActions, mapState } from "vuex";

export default defineComponent({
  name: "Home",
  components: {
    Header,
    AnswerContainer,
    Button,
  },
  created() {
    if (
      this.questions.length === 0 ||
      this.questions.length !== this.userAnswers.length
    ) {
      this.onNewGameHandler();
      router.push({ name: "Home" });
    }
    this.calculateScore();
  },
  methods: {
    ...mapActions(["calculateScore", "onTryAgainHandler", "onNewGameHandler"]),
  },
  computed: {
    ...mapState([
      "questions",
      "userScore",
      "highscore",
      "userAnswers",
      "isLoading",
    ]),
  },
});
</script>

<style scoped>
#score-buttons {
  display: flex;
}

#score-header {
  width: 100%;
}
</style>
