<template>
  <div v-if="isLoading">
    <h1>loading...</h1>
  </div>
  <div v-else class="start">
    <Header title="Start page" />
    <TextInput
      description="Username"
      placeholder="Enter Username"
      :onInput="onTextInputHandler"
    />
    <NumberInput
      description="Amount of Questions"
      min="1"
      :max="availableQuestions"
      startValue="10"
      :onNumberInputChange="onNumberInputChangeHandler"
    />
    <Selector
      description="Categories"
      :choices="categories"
      :onChangeHandler="onCategoryChangeHandler"
    />
    <Selector
      description="Difficulty"
      :choices="difficulties"
      :onChangeHandler="onDifficultyChangeHandler"
    />
    <br />
    <Button title="Start" :onClickHandler="onClickStartHandler" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { mapState, mapActions } from "vuex";
import Header from "@/components/Header.vue";
import TextInput from "@/components/TextInput.vue";
import NumberInput from "@/components/NumberInput.vue";
import Selector from "@/components/Selector.vue";
import Button from "@/components/Button.vue";

export default defineComponent({
  name: "Home",
  components: {
    Header,
    TextInput,
    NumberInput,
    Selector,
    Button,
  },
  async created() {
    await this.fetchCategoriesFromAPI();
  },
  computed: {
    ...mapState([
      "categories",
      "difficulties",
      "availableQuestions",
      "isLoading",
    ]),
  },
  methods: {
    ...mapActions([
      "fetchCategoriesFromAPI",
      "onCategoryChangeHandler",
      "onDifficultyChangeHandler",
      "onNumberInputChangeHandler",
      "onClickStartHandler",
      "onTextInputHandler",
    ]),
  },
});
</script>

<style scoped>
.start {
  max-width: 20rem;
  margin: auto;
}
</style>
