<template>
  <div id="question-container">
    <p id="question-description">
      <b v-html="question"></b>
    </p>
    <AnswerSuggestion
      v-for="answerSuggestion of answerSuggestions"
      :key="answerSuggestion"
      :answerSuggestion="answerSuggestion"
      :questionId="questionId"
      :onClickSuggestedAnswer="onClickSuggestedAnswerAction"
    />
  </div>
</template>

<script lang="ts">
import AnswerSuggestion from "@/components/AnswerSuggestion.vue";
import { mapActions } from "vuex";
import { defineComponent } from "vue";

export default defineComponent({
  name: "AnswerContainer",
  components: {
    AnswerSuggestion,
  },
  props: ["question", "answerSuggestions", "questionId"],
  methods: {
    ...mapActions(["onClickSuggestedAnswerAction"]),
  },
});
</script>

<style scoped>
p {
  margin-bottom: 0.5rem;
}
</style>

<style scoped>
#question-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #c0b3b3;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

#question-description {
  margin: 1.2rem;
}
</style>
