<template>
  <div id="answerSuggestion" :style="dynamicStyle">
    <input
      type="radio"
      :id="answerSuggestion"
      :value="answerSuggestion"
      :name="questionId"
      @click="onClickSuggestedAnswer"
    />
    <label :for="answerSuggestion" v-html="answerSuggestion"></label><br />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { mapState } from "vuex";

export default defineComponent({
  name: "AnswerSuggestion",
  props: ["answerSuggestion", "questionId", "onClickSuggestedAnswer"],

  computed: {
    ...mapState(["userAnswers", "correctAnswers"]),
    dynamicStyle() {
      const userAnswer = this.userAnswers[this.questionId];
      const correctAnswer = this.correctAnswers[this.questionId];

      if (
        userAnswer === "" ||
        userAnswer === null ||
        userAnswer === undefined
      ) {
        return null;
      }

      if (
        correctAnswer === userAnswer &&
        correctAnswer === this.answerSuggestion
      ) {
        return {
          "background-color": `rgba(9,189,18,0.92)`,
          "pointer-events": null,
          opacity: 0.5,
        };
      } else if (
        correctAnswer === this.answerSuggestion &&
        correctAnswer !== userAnswer
      ) {
        return { "background-color": `rgba(65, 255, 0, 0.4)` };
      } else if (
        correctAnswer !== this.answerSuggestion &&
        this.answerSuggestion === userAnswer
      ) {
        return {
          "background-color": `rgba(218, 33, 33, 0.55)`,
          "pointer-events": null,
          opacity: 0.5,
        };
      } else {
        return null;
      }
    },
  },
});
</script>

<style>
#answerSuggestion {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 0 1rem 1rem 1rem;
  max-width: 80rem;
  padding: 0.5rem;
}

#answerSuggestion:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
</style>
