<template>
  <button class="button" @click="onClickHandler">{{ title }}</button>
</template>

<script lang="ts">
export default {
  name: "Button",
  props: ["title", "onClickHandler"],
};
</script>

<style scoped>
.button {
  margin: 1rem 0 1rem 0;
  padding: 0.25rem;
  font-size: 16px;
  background-color: #7783aa;
  color: white;
  border-radius: 0.5rem;
  width: 100%;
}

.button:hover {
  background-color: #345df3;
}
</style>
