<template>
  <div id="number-input-container">
    <label for="number-input" id="selector-input-label">{{
      description
    }}</label>
    <input
      id="number-input"
      type="number"
      :min="min"
      :max="max"
      :value="startValue"
      @change="onNumberInputChange"
    />
  </div>
</template>
<script lang="ts">
export default {
  name: "NumberInput",
  props: ["description", "min", "max", "startValue", "onNumberInputChange"],
};
</script>

<style scoped>
#number-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#number-input {
  width: 100%;
  height: 1.5rem;
  box-sizing: border-box;
}

#selector-input-label {
  margin-top: 1rem;
}
</style>
