<template>
  <div id="selector-input-container">
    <label for="selector-input" id="selector-input-label">{{
      description
    }}</label>
    <select id="selector-input" @change="onChangeHandler">
      <option
        v-for="choice in choices"
        :key="choice.id"
        :value="choice.id"
        v-bind:selected="choice.id === 0 ? 'selected' : false"
      >
        {{ choice.name }}
      </option>
    </select>
  </div>
</template>

<script lang="ts">
export default {
  name: "Selector",
  props: ["description", "choices", "onChangeHandler"],
};
</script>

<style scoped>
#selector-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#selector-input {
  width: 100%;
  height: 1.5rem;
  vertical-align: middle;
}

#selector-input-label {
  margin-top: 1rem;
}
</style>
