<template>
  <div id="text-input-container">
    <label for="text-input">{{ description }}</label>
    <input id="text-input" :placeholder="placeholder" @input="onInput" />
  </div>
</template>

<script lang="ts">
export default {
  name: "TextInput",
  props: ["description", "placeholder", "onInput"],
};
</script>

<style scoped>
#text-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#text-input {
  width: 100%;
  height: 1.5rem;
  box-sizing: border-box;
}
</style>
